h1, p {
    font-family: monospace;
} 

body {
    background-color: #accbe1;
}

strong {
    font-style: italic;
}

.button {
     background-color: rgb(53, 40, 238);
     color: aliceblue;
     font-weight: 700;
     padding: 2px 5px;
     text-decoration: none;
     border-radius: 10%;
     line-height: 30px;
}

img {
    border-radius: 25%;
}
