h1, p {
    font-family: monospace;
} 


body {
    background-color: #accbe1;
}

strong {
    font-style: italic;
}

.button {
     background-color: rgb(53, 40, 238);
     color: aliceblue;
     font-weight: 600;
     padding: 2px 5px;
     text-decoration: none;
     border-radius: 10%;
}

img {
    border-radius: 25%;
}

#Minha-foto {
    float: left;
    width: 280px;
    background-color: rgb(126, 126, 145);
}

.image-container{
    height: 300px;
}

.MeuNome {
    text-align:center;
    font-size: 40px;
}

.MinhaDescrição {
    font-size: 20px;
    text-align: center;
    position: relative;
    padding: 5%;
}